body {
	padding: 0;
	margin: 0;
	background-color: #f9f7f4;
	font-family: "Lato";
}
.navbar{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #f4f2e9;
	box-shadow: 0px 3px 2px #bebebe;

}
.content {
	margin-left: 80px;
	margin-right: 80px;
	overflow:auto;
}
.left {
	height: auto;
	width: 30%;
	float: left;
}
.logo h2 {
	position: absolute;
	float: left;
	bottom: -5px;
	left: 40px;
}
.menu {
	list-style-type: none;
	position: absolute;
	left: 15%;
	margin: 0px;
	height: 100%;
	width:500px;
}
.menu li {
	box-sizing: border-box;
	text-align: center;
	height: 100%;
	float: left;
	padding: 15px 5px;
	transition:0.2s; 
	text-align: center;
	margin-left: 5px;
}
.menu li:hover{
	background-color: #efe9d0	;
	margin-top: 3px;
}
.menu li a{
	color: #382110;
	text-decoration: none;
	font-size:14px;
	display:block;
	text-transform: uppercase;
}
.searchwraper1 {
	position: absolute;
	top: 25%;
	right: 25%;
}
.searchwraper2 {
	position: relative;
}
.searchsub2 {
	position: absolute;
	left: 0;
}
.searchwraper1 input,.searchwraper2 input{
	width: 270px;
	height: 20px;
}
.searchsub1 {
	position: relative;
}
.searchwraper1 .searchsub1 .before i,.searchwraper1 .searchsub1 .before:before ,.searchwraper2 .searchsub2 .before i,.searchwraper2 .searchsub2 .before:before {
	position: absolute;
	right: 10px;
	top:16%;
}
.searchwraper1 .searchsub1 .before:before, .searchwraper2 .searchsub2 .before:before {
	content: "|";
	padding-right: 25px;
	top:15%;
}
::placeholder {
	padding-left: 10px;
}
.social {
	position: absolute;
	right: 10%;
	top: 30%;
}
.social div {
	float: left;
	padding-left:15px;
}
.social div i {
	font-size: 20px;
	color: #382110;
}
.myinfo{
	position: absolute;
	right: 1%;
	top:10%;
}
.myinfo img{
	width: 40px;
}

img[src="img/book1.svg"] {
	fill: #000;
}
.pragraph2 .book {
	padding: 5px;
}
.leftbook{
	background-color: #fa604a;
	width: 40%;
	float: left;
	color: white;
	text-align: center;
	margin-right: 10px;
}
.leftbook img {
	width: 70%;
	text-align: center;
}
.leftbook .challenge {
	text-transform: uppercase;
}
.leftbook p {
	font-size: 40px;
	margin: 0;
	padding-bottom: 5px;
}
.rightbook{
	width: 50%;
	float: right;
	color: black;
	font-size: 16px;
	line-height: 0px;
}
.rightbook input {
	width: 40px;
}
.rightbook button {
	height: 30px;
	border-radius: 2px;
}
.pragraph1 {
	margin-bottom: 40px;
}

/* ARTICLE */
.article {
	width: 60%;
	height: auto;
	float: right;
	position: relative;
}
.thumb {
	width: 20%;
	position : absolute;
	left: 0;
}
.contentbaiviet {
	position: absolute;
	right: 0;
	text-align: justify;
	width: 80%;
}
.baiviet {
	height: 270px;
	width: auto;
	border-bottom: 1px solid black;
	font-size:14px;
	line-height:1.4;
}
.baiviet hr {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.contentbaiviet a {
	text-decoration: none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}
.contentbaiviet div {
	margin-bottom: -5px;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
#stars {
	padding-left: 0px;
}
footer{
	height: 30px;
	background-color: #f4f3e9;
	text-align: center;
	margin-top: 20px;
}
footer i {
	padding-top: 10px;
	color:#bebebe;
}